{% extends 'base.html' %}

{% block content %}

<h4>Search results:</h4>

{% autoescape false %}
<!-- Show selected verses -->

<div class="card text-center w-75">
    <div class="card-header">
        Search Results
    </div>
    <div class="card-body">
        {% if data %}

        <h2>{{ data['data']['reference'] }} </h2>
        <p><strong>{{ data['data']['content'] }}</strong></p>
        

        {% else %}
    
        <p>No verse available.</p>
    
        {% endif %}
    </div>
</div>
{% endautoescape %}

{% endblock %}